@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Condensed Light'), local('RobotoCondensed-Light'), url(rc-l.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(rc-r.woff) format('woff');
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(rc-b.woff) format('woff');
}

body {
	background-color: rgb(34, 34, 34);
}

a.navbar-brand {
	padding: 10px 0px 10px 25px;
	margin-left: 0px;
	font-size: 50px;
	line-height: 50px;
	font-weight: 700;
}

.navbar-fixed-top {
	border-width: 0px 0px 0px;
}

h1, h2, h3, h4, h5, h6, p, a, body {
	font-family: 'Roboto Condensed', helvetica, sans-serif;
}

.workflow {
	padding-top: 70px;
}

#workflow-content {
	padding-top: 0px;
}

.cj-section {
	padding: 10px 0px 10px 0px;
}

.hidden-onload {
	display: none;
}


h1.cj-section-result {
	margin: 0px;
}

h1, h2, h3 {
	margin-top: 10px;
}

/* Selection Options */
h1.cj-section-title {
	padding-left: 20px;
}

.cj-section-choice h1 {
	padding-left: 20px;
}

.cj-section-choice ul {
	padding: 0px;
}
.cj-section-choice ul li, #cart-list li {
	display: block;
	font-size: 25px;
	padding-left: 40px;
	padding-right: 40px;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;d
	-ms-user-select: none;
	user-select: none;
}

#cart-list li {
	padding-left: 0px;
}

.cj-section-choice ul li select {
	font-size: 20px;
}

.cj-section-choice ul li:nth-child(odd){
	background-color: rgba(255,255,255,0.1);
}
.cj-section-choice ul li:nth-child(even){
	background-color: rgba(255,255,255,0.2);
}

.cj-section-choice ul li a{
	color: rgb(51, 51, 51);
}

.cj-btns-order {
	padding-right: 40px;
}

.cj-btns-order > .btn {
	font-size: 18px;
}

.navbar-header {
	float:left;
}

.nav-cart {
	float:right;
	font-size: 30px;
}

.overlay {
	display: block;
	position: fixed;
	top: 70px;
	left: 0;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
	background-color: #000;
	color: rgb(153, 153, 153);
}

.overlay-close {
	display: block;
	float: right;
	font-size: 30px;
	padding: 10px 10px 0px 0px;    
}

.cart-title {
	padding-left: 20px;
}

.cart-description {
	font-size: 15px;
	padding-left: 10px;
	margin-bottom: 0px;
	padding-bottom: 10px;
}

.container {
	max-width: 600px;
}

.cart-remove-item {
	padding-top: 8px;
}

#cart-list {
	padding-left: 0px;
}

#cart-list li {
	display: block;
	padding-left: 40px;
	margin: 0px;
	padding-top: 5px;
}

#cart-list li:nth-child(odd){
	background-color: rgba(255,255,255,0.1);
}
#cart-list li:nth-child(even){
	background-color: rgba(255,255,255,0.2);
}

#wrap {
    min-height: 100%;
    height: auto;
    margin: 0px auto -60px;
    padding: 0px 0px 60px;
}
#footer {
    height: 60px;
    background-color: #CCC;
}

#footer .footer-text {
	margin-top: 20px;
}
